<img src="https://i.imgur.com/1WaY7aA.png" style="float: left;">

## Review of python types, lists, and dictionaries

In [2]:
# Enter student names here:
student_names = ['Anjalika', 'Smitha', 'Yana', 'Jane',' Emily','Aris','Antony', 'Joana', 'gladys','jercy']
print(student_names)

['Anjalika', 'Smitha', 'Yana', 'Jane', ' Emily', 'Aris', 'Antony', 'Joana', 'gladys', 'jercy']

---

### 1. What are the types of the following variables?

In [9]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'kiefer':'katovich', 'dave':'yerrington'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type((e)))

<class 'int'>
<class 'float'>
<class 'list'>
<class 'dict'>
<class 'tuple'>

In [27]:
a = 1

a is <class 'int'>
b is<class 'float'>
c is<class 'list'>
d is<class 'dict'>
e is<class 'tuple'>
f is<class 'dict'>
g is<class 'bool'>
h is<class 'bool'>
i is<class 'str'>

---

### 2. Print the `student_names` list.

In [14]:
student_names = ['Anjalika', 'Smitha', 'Yana', 'Jane',' Emily','Aris','Antony', 'Joana', 'gladys','jercy']
print(student_names)

['Anjalika', 'Smitha', 'Yana', 'Jane', ' Emily', 'Aris', 'Antony', 'Joana', 'gladys', 'jercy']

---

### 3. Print the names of the first and last students in the list.

In [18]:
print((student_names[0]  + " and " +  student_names[-1]))

Anjalika and jercy

---

### 4. Print the first five names in the student list.

In [22]:
print(student_names[0:5])

['Anjalika', 'Smitha', 'Yana', 'Jane', ' Emily']

---

### 5. Combine the 9th and 10th student names into a single string, separated by a space.  Assign that string to a variable.

In [27]:
print((student_names[8] + " " + student_names[9]))

gladys jercy

---

### 6. Append an animal to the list of animals.

In [38]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [41]:
animals.append('monkey')
print (animals)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'monkey', 'monkey']

---

### 7. Print the length of the animals list.

In [91]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'kiefer']
print(len(animals))

7

---

### 8. Divide the length of the fifth animal by the second.

In [57]:
a = (len(animals[4])/len(animals[1]))
print(a)
print(type(a))

2.3333333333333335
<class 'float'>

---

### 9. Perform the same division, but ensure output is a decimal number.

In [63]:
from decimal import Decimal
a =  ()
d = Decimal.decimal(a)
print(d)

AttributeError: type object 'decimal.Decimal' has no attribute 'decimal'

In [57]:

a = (len(animals[4])/len(animals[1]))
print(a)
print(type(a))

2.3333333333333335
<class 'float'>

In [57]:
a = (len(animals[4])/len(animals[1]))

print(a)
print(type(a))

2.3333333333333335
<class 'float'>

In [66]:
from decimal import Decimal
a =  ('2.3333333333333335')
d = decimal.Decimal(str(a))
print(d)

NameError: name 'decimal' is not defined

---

### 10. Show two different ways to combine the animals list and the numbers list.

In [80]:
numbers = [0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]
combo = animals + numbers
print(combo)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'monkey', 'monkey', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0, 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0, 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0, 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]

In [88]:
animals.extend(numbers)
print(('extended animals:') + str(animals))

extended animals:['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'monkey', 'monkey', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0, 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0, 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0, 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0, 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0, 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]

---

### 11. Remove 'kiefer' from the list and insert your own in its place.

In [92]:
animals.remove('kiefer')
print(animals)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

---

### 12. Sort the following list.

In [0]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [99]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]
print(mix.sort)

<built-in method sort of list object at 0x7f483c7c8c08>

---

### 13. Find the index of `'a'` in the list.

In [0]:
# ANSWER

---

### 14. Reverse the `mix` list.

In [0]:
# ANSWER

---

### 15. Remove the last element of `mix`,  and assign it to a variable.

In [0]:
# ANSWER

---

### 16. Count the number of times `0` appears in the following list.

In [0]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [2]:

np.count(binary = 0)
print(count)

NameError: name 'np' is not defined

---

### 17. Count the number of times `1` appears in the following list.

In [0]:
# ANSWER

---

### 18. Create an SF (San Francisco) zipcode dictionary.

With the following key:value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [0]:
# ANSWER

---

### 19. Get the zipcode for `'soma'`, and assign it to a variable.

In [0]:
# ANSWER

---

### 20. Get the keys out of the dictionary.

In [0]:
# ANSWER

---

### 21. Get the key:value pairs out of the dictionary as a list of tuples.

In [0]:
# ANSWER

---

### 22. Add the castro district to the dictionary with zipcode 94114.

In [0]:
# ANSWER

---

### 23. Combine the following smaller dictionary of districts with the SF zip codedictionary.

In [0]:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [0]:
# ASNWER

---

### 24. Remove the '`sunset`' zipcode, and assign it to a variable.

In [0]:
# ANSWER

---

### 25. Check if the 'dogpatch' is in the dictionary.

In [0]:
# ANSWER